.filbar {
  background-color: rgb(255, 236, 209);
  overflow: hidden;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;/
}

.filbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.filbar ul li {
  float: left;
}

.filbar ul li a {
  display: block;
  color: rgb(105, 16, 16);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.filbar ul li a:hover {
  background-color: rgb(105, 16, 16);
  color: rgb(255, 209, 144);
  transform: scale(0.9); 
}

.dropbox {
  display: inline-block;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: rgb(255, 233, 200);
  min-width: 160px;
  z-index: 1;
}

.dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown a:hover {
  background-color: rgb(255, 233, 200);
}

.dropbox:hover .dropdown {
  display: block;
}

.cart {
  margin-right: 20px; 
}

.viewCartLink {
  display: block;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(105, 16, 16);
  text-align: center;
  text-decoration: none;
}