@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
   
    margin: 0;
    padding: 0;
    background-color: rgb(253, 239, 218);
}

.navbar {
    align-items: center;
    display: flex; 
    justify-content: space-between;
    background-color: rgb(255, 231, 194);
    padding: 10px 20px;
}

.logo img {
    height: 40px;
    scale: 1.5;
}
.logo :active{
    scale: 0.8;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-left: 20px;
}

.navbar li a {
    display: block;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(105, 16, 16);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar li a:active {
    background-color: rgb(105, 16, 16) ;
    color:rgb(255, 231, 194) ;
    scale: 0.9;
}

.cenlogo{
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    height: 50vh;
}

.cenlogo img{
    position:relative;
    top:-300px;

    scale:0.3;
    
}

.hometext{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hometext h2{
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: rgb(72, 5, 5);
}
.hometext p{
    padding: 10px;
    color:rgb(81, 8, 8) ;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

