@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: rgb(255, 236, 209);
    overflow: hidden;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar .logo img {
    height: 50px; 
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 20px; 
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(105, 16, 16);
    font-size: 16px;
}

.navbar ul li a:hover {
    color: rgb(255, 209, 144);
}



.containercart {
    max-width: 144rem;
    margin: 0 auto;
    padding: 30px 130px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.cartItems {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
    text-align: center;
}

.cartItems h3 {
    font-size: 15px;
    height: 50px;
}

.cartItems p {
    font-size: 12px;
}

.cart-item {
    background-color: rgb(125, 72, 72);
    padding: 20px;
    border-radius: 10px;
    color: antiquewhite;
}

.cart-item img {
    width: 100%;
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

.end{
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 5px;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.end  button {
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    background-color: azure;
    width: 50%;
    position: relative;
    cursor: pointer;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

.end  button:hover {
    transform: scale(0.99);
    background-color: rgb(171, 181, 181);
}

.endtotal {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 20px;
    
  }
  
  .endtotal  button {
      border-radius: 10px;
      font-family: "Poppins", sans-serif;
      background-color: azure;
      width: 51%;
      position: relative;
      cursor: pointer;
      font-family: "Kanit", sans-serif;
      font-weight: 400;
      font-style: normal;
      
  }
  
  .endtotal button:hover {
      transform: scale(0.99);
      background-color: rgb(171, 181, 181);
  }
  
  .Shoppingcart h2 {
    color:  rgb(105, 16, 16);
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 30px;
  }